version: '2'
services:
  dbus-system:
    build: ./dbus
    restart: always
    ports:
      - "55884:55884"
    environment:
      DBUS_CONFIG: session.conf # allow owning anything without explicit policies
  bluez:
    build: ./bluez
    restart: always
    network_mode: host
    devices:
      - "/dev/rfkill:/dev/rfkill" # required for `rfkill unblock`
    cap_add:
      - NET_ADMIN
    environment:
      - 'DBUS_SYSTEM_BUS_ADDRESS=tcp:host=localhost,port=55884'
    labels:
      io.balena.features.dbus: '1'
    depends_on:
      - dbus-system
  connman:
    build: ./connman
    restart: always
    network_mode: host
    cap_add:
      - NET_ADMIN # required for managing network interfaces
    environment:
      - 'DBUS_SYSTEM_BUS_ADDRESS=tcp:host=localhost,port=55884'
    labels:
      io.balena.features.dbus: '1'
    depends_on:
      - dbus-system
  gateway-config:
    build: ./gateway-config
    restart: always
    environment:
      - 'DBUS_SYSTEM_BUS_ADDRESS=tcp:host=dbus-system,port=55884'
    depends_on:
      - dbus-system
      - bluez
      - connman
